.App{
    background-image: url('../../aerial-view-architecture-autumn-280221.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    text-align: center;
}
.homecomp{
    border: 5px solid crimson;
    margin-top: 10vh;
}
/* .home-overlay{
    background-color: rgb( 0, 0, 0, 0.3)
} */
h1{
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 56px;
}
.homeButton{
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
}