.App{
    background-image: url('../../aerial-view-architecture-autumn-280221.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    text-align: center;
}
.homecomp{
    /* border: 2px solid crimson; */
    margin-top: 10vh;
}
.home-overlay{
    background-color: rgba(9, 182, 182, 0.5);
}
h1{
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 10vh;
    margin-top: 20vh;
}
.homeButton{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(9, 182, 182, 0.7);
    border-radius: 5px;
    padding: 5px 43px;
    cursor: pointer;
}